@media (max-width: 767px) {
    #button {
        width: 400px;
        height: 70px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding-top: .5em;
        padding-bottom: .5em;
    }
    .navbar-default {
        height: 550px;
    }
    #price {
        text-align: center;
    }
    #pricePrecision {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    #footer ul {
        text-align: center;
    }
    #credit {
        text-align: center;
    }
    #beautiful {
        border: none;
    }
}
@media (max-width: 991px) {
    .infoText {
        padding-top: 2%;
        border-bottom: 1px solid #DADADA;
        height: 50%;
        width: 100%;
    }
    .infoText * {
        margin-left: 5%;
        margin-right: 5%;
    }
    #graphicText1 {
        background-color: #7CD5EF;
    }
    #graphicText2 {
        background-color: #8080BE;
    }
    #graphicText3 {
        background-color: #7CD5EF;
    }
}
@media screen and (min-width: 768px) {
    #disclaimer {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    #pricingBlock {
        padding-top: 4em;
    }
    #price {
        text-align: right;
    }
    #pricePrecision {
        text-align: left;
    }
    #footer {
        padding-bottom: 5em;
        padding-top: 3em;
    }
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-weight: normal;
    font-size: 2em;
}
h3 {
    color: gray;
    font-weight: bolder;
}
li a {
    font-size: .9em;
}

/* ************************************************************************************ */

.navbar-default {
    height: 600px;
    border-radius: 0 !important;
    background-image: url("../images/payments-banner-graphic.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-default * {
    color: white !important;
}
#logo {
    height: 28px;
}
#bonsai {
    padding-top: 5em !important;
}
#announcement {
    position: absolute;
    width: 70% !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#announcement p {
    font-size: 1.5em;
}
#button {
    font-weight: lighter;
    width: 350px;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 0 auto;
}
#button p {
    color: #6D6DA9 !important;
    font-size: 1.5em;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

/* ************************************************************************************ */

#main {
    margin: 0;
    padding: 0;
}
#disclaimer img {
    height: 80px;
}
#beautiful {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}

/* ************************************************************************************ */

#price {
    font-size: 6em;
    color: #8080BE;
}
#pricingBlock {
    border-top: 1px solid #DADADA;
    background-color: #F6F9FB;
    padding-top: 4em;
    padding-bottom: 4em;
}
#pricing {
    font-size: 1.5em;
}
#pricePrecision {
    padding-top: .8em;
}

/* ************************************************************************************ */

#cardBanner {
    background-color: #4C535C;
    padding-top: 1.2em;
    padding-bottom: .8em;
    text-align: center;
    color: white;
    font-size: 1.7em;
    font-weight: 200;
}

/* ************************************************************************************ */

.graphicBlock {
    height: 75%;
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
}
#graphic1Block {
    background-color: #7CD5EF;
}
#graphic2Block {
    background-color: #8080BE;
}
#graphic3Block {
    background-color: #7CD5EF;
}
.fancy {
    width: 80%;
    margin-left: 10%;
    margin-top: 18%;
    margin-bottom: -18%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.infoText * {
    margin-left: 28%;
    margin-right: 28%;
}
.infoText {
    height: 75%;
    padding-top: 8%;
    border-bottom: 1px solid #DADADA;
}
.infoText i {
    margin-left: 0;
}

/* ************************************************************************************ */

#createAccountButton {
    padding: .9em;
    height: 3em;
    width: 200px;
    background-color: #00B088;
    margin: 5px auto;
    border-radius: 5px;
    color: white;
}
#createAccountBlock {
    padding-top: 5%;
    padding-bottom: 6%;
}

/* ************************************************************************************ */

#footer {
    background-color: #4C535C;
    color: lightgray;
}
#footer ul {
    padding-left: 0;
    padding-bottom: 2em;
}
#footer li {
    list-style: none;
    font-weight: bold;
}
#footer a {
    text-decoration: none;
    color: lightgray;
}
#socialNetwork li {
    display: inline-block;
}
.legal {
    font-weight: bold;
    font-size: .8em;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

/* ************************************************************************************ */

#pageTop {
    position: fixed;
    right: 10px;
    bottom: 35%;
    height: 25px;
    width: 25px;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #8f8fcb;
    text-align: center;
    color: white;
}
